@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif;
}

.flip-card {
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* transition: transform 0.5s cubic-bezier(0.35, 0.9, 0.35, 0.7); */
    transition: opacity 0.4s cubic-bezier(0.4, 0, 1, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}
/* CARDS CLASS */
.flip-card-back{
    transform: rotateY(180deg);
    @apply bg-blue-200
}
.flip-card-front{
    @apply bg-red-200
}
.flip-card-front,
.flip-card-back {
    @apply border-black border-[1.5pt] text-2xl overflow-y-scroll p-8;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* padding: 2rem 0 2rem 0; */
    border-radius: 0.5rem;
    overflow-y: auto;
}
.material-item:hover {
    background-color: #f9fafb;
}
.box-shadow{
    @apply border-[2pt] border-black shadow-[12px_12px_0px_0px_rgba(0,0,0,1)] 
}
.box-button-animate{
    @apply text-xl w-full px-4 py-2 border-[2pt] border-black font-semibold uppercase shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all
}
.box-button-animate-small{
    @apply   border-black  shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all
}
